---
layout: default
title: Compare GitLab vs Atlassian
description: "Download this report that compares GitLab capabilities with Atlassian Bitbucket capabilities."
canonical_path: "/resources/gitlab-vs-atlassian/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/c/bitbucket-comparison?x=AZsf16&lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the comparison"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the comparison."
success_message: "You will also receive a copy of the comparison sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline See how GitLab and Bitbucket stack up
        %h2.page-headline All the information you need in one PDF

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Developed by an independent third party, Accelerated Strategies, this report provides a comprehensive analysis of the DevOps Landscape with well defined evaluation criteria for capabilities needed to provide an end to end DevOps solution. 
            
            %p Download this report that compares GitLab capabilities with Bitbucket capabilities. 
            
            %p Detailed comparison information that is easy to understand and easy to share with your colleagues.

            %h3 With this comparison you'll see:
            %ul
              %li Capabilities offered in each platform and how they compare
              %li A brief analysis of the strengths and gaps in each platform
              %li And a vendor-neutral scoring of capabilities in each platform.

            %p Download the assessment to get started.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }
